.test{
    width:100px;
    height:100px;
    background:royalblue;
    animation: random 1s ease-in-out 0s infinite alternate forwards;
}

@keyframes random{
    0%{
        width:50px;
    }

    40%{
        width:150px;
    }
    
    80%{
        width:500px;
    }

    100%{
        width:300px;
    }
}