body{
    background: royalblue url("../IMG/1.jpg") no-repeat center center;
    
}

a:visited{
    color: rebeccapurple; 
    text-decoration:underline;
}
a{
    color: royalblue;
    text-decoration:none;
}
a:hover{

    text-decoration:underline;

}