.box{
    background-color: black;
    
}

.smallbox1{
    float:left;
    width: 400px;
    height: 400px;
    background-color: cadetblue;
    display: inline;
}

.smallbox2{
    float:right;
    height: 400px;
    width: 400px;
    background-color: coral;
    display: inline;
}

.clearfix::after{
    content:"";
    display:block;
    clear: both;

}