.purple{
    width:800px;
    height:1000px;
    margin:0 auto;
    background-color:purple;
    position:relative;
}

.yellow{
    width:400px;
    height:400px;
    background-color:yellow;
   
    
    
}
.light-blue{
    width:400px;
    height:400px;
    background-color:lightblue;
    margin: 0 auto;
    
    

}

.red{
    width:100;
    height:100px;
    background-color:red;
    float:left;
    position: absolute;
    top:0px;
    left:0px;


}