*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-size: 25px;
}

.container{
    height: 100vh;
    width: 100%;
    border:5px solid #fff;
    display:grid;
    grid-template-columns:repeat(8,1fr);
    grid-template-rows:repeat(8,1fr);
} 

.box{
    background-color: royalblue;
    border:5px solid black;
    color:#fff ;
    padding: 25px;
}

.box-1{
    grid-area: 1/1/5/5;
}

.box-2{
    grid-area: 1/5/3/7;/*(rowstart/colstart/rowend/colend)*/
}

.box-3{
    grid-area: 1/7/3/9;
}

.box-4{
    grid-area: 3/5/5/7;

}

.box-5{
    grid-area: 3/7/5/9;
}

.box-6{
    grid-area: 5/1/7/3;
}

.box-7{
    grid-area: 5/3/7/7;
}

.box-8{
    grid-area:5/7/9/9;
    
}

.box-9{
    grid-area:7/1/9/5;
}

.box-10{
    grid-area:7/5/9/7;
}