html,body{
   
   overflow: hidden;
   margin:0;

}

.back{
   background-color: #ededed;
}


.master{
   width:1000;
   margin: 0 auto;
}

.long img{
   float:left;
   
}
.small-1 img{
   border: 3px solid #5fb3bd;
}

.long h1{
   float:left;
   margin-left:100px;
   margin-top:130px;
   font-weight:900;
   font-family: sans-serif;
   color:#1b2130;
}

.long{
   width:960px;
   height:356;
   border:3px solid #5fb3bd;
   background-color: white;
   
}

.small-1{
   
   width:210;
   
   margin-top:30px;
   font-size:14;
   font-family:Arial, Helvetica, sans-serif;
   float:left;
   margin-right:30px;
   margin-left: 5px;
}




