body{
    margin:0;
    font-family: 'raleway', sans-serif ;
}

.master{
    width:1270px;
    margin:0 auto;
}


/*header starts here*/

.header{
    height: 530px;
    width:100%;
    background-image: url(../IMG/dd.jpg);
    color:#fff;
    border-top: 5px solid #5385c1;
    overflow: auto;
}

/* p inside header*/
.top{
    float: left; 
}


.header ul{
    float:right;

}

.header li{
    float:left;
    list-style:none;
    margin-right:20px;
}

/*Header ends here*/

/*banner starts here*/
.banner{
    width: 1270px;
    
    float: left;
    text-align: center;
    font-weight:100;
    margin: 0 auto;
    margin-top: 100px;
}

.banner h1{
    font-weight:100;
    font-size:60;
    margin-bottom: 20px;
}

.banner p{
    margin-top: 0;
}

/*banner ends here*/

/*3-boxes start here*/

/*box 1 starts here*/
.textbox-1{
    font-weight: 300;
    width: 330;
    height:300;
    color: #a0a2a0;
    padding: 0px 60px 0 0px ;
    margin-top: 50px;
    float:left;
}

.textbox-1 h2{
    color: #5385c1;
    font-weight:400;
    margin-bottom: 30px;
}

.textbox-1 p{
    margin-top: 0px;
    margin-bottom: 10px;
}

.textbox-1 h5{
    padding: 10px 20px;
    background-color: #5385c1;
    display: inline-block;
    color: #fff;
}

/*box 2 starts here*/
.textbox-2{
    font-weight: 300;
    width: 330;
    height:300;
    color: #a0a2a0;
    padding: 0px 70px ;
    border-left:0.5px solid #dbdbdb ;
    border-right:0.5px solid #dbdbdb ;
    margin-top: 50px;
    float:left;
    
}

.textbox-2 h2{
    color: #5385c1;
    font-weight:400;
    margin-bottom: 30px;
}

.textbox-2 p{
    margin-top: 0px;
    margin-bottom: 10px;;
}

.textbox-2 h5{
    padding: 10px 20px;
    background-color: #5385c1;
    display: inline-block;
    color: #fff;
}

/*box-3 starts here*/
.textbox-3{
    font-weight: 300;
    width: 330;
    height:300;
    color: #a0a2a0;
    padding: 0px 0px 0 70px ;
    margin-top: 50px;
    float:left;
}

.textbox-3 h2{
    color: #5385c1;
    font-weight:400;
    margin-bottom: 30px;
}

.textbox-3 p{
    margin-top: 0px;
    margin-bottom: 10px;
}

.textbox-3 h5{
    padding: 10px 20px;
    background-color: #5385c1;
    display: inline-block;
    color: #fff;
}
/*3-boxes end here*/

/*midlde starts here*/
.middle{
    background-color: #5385c1;
    width:100%;
    height:780px;
    margin-top:50px;
    text-align: center;
    float: left;
}



.imgbox-1{
    height:360px;
    width: 170;
    margin-left: 70px;
    border: 1px solid #7ea4d1;
    padding:50px;
    color:#fff;
    text-align: center;
    float: left;
}

